@media only screen and (max-width: 950px){
    header nav{
        padding-right: 0px;
    }
}
@media only screen and (max-width: 875px){
    .banner .container2{
        flex-direction: column;

        h1{
        font-size: 40px;
    }
        h4{
            padding-top: 10px;
        }
        a{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

}
@media only screen and (max-width: 490px){
    header nav{
        display: none;
    }

}
@media only screen and (max-width: 650px){
    header nav li{
        margin-right: 25px;
    }
}
@media only screen and (max-width: 660px){
    .categories .right_content .flex_2 ul li{
        margin-right: 40px;
    }
}
@media only screen and (max-width: 570px){
    header nav li{
        margin-right: 15px;
    }
}
@media only screen and (max-width: 540px){
    header nav li{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 520px){
    header nav li{
        margin-right: 5px;
    }
}
@media only screen and (max-width: 500px){
    header nav li{
        margin-right: 2px;
    }
}

@media only screen and (max-width: 1200px){
    header .container{
        margin-right: 15px;
        margin-left: 15px;
    }
    .banner .container2{
        margin-right: 15px;
        margin-left: 15px;
    }
    .categories .left_sidebar{
        margin-left: 15px;
        margin-right: 15px;
    }
    .categories .right_content{
        margin-right: 15px;
    }
}
@media only screen and (max-width: 1200px){
    .categories .right_content{
        margin-right: inherit;
    }
}
@media only screen and (max-width: 1129px){
    .categories .right_content .flex_3{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 1129px){
    .categories .right_content .flex_2 ul li{
        margin-right: 15px;
    }
    .categories .right_content .flex_3 .article4{
        margin-top: 31px;
    }
    .categories .right_content .flex_3 .article5{
        margin-top: 31px;
    }
}
@media only screen and (max-width: 615px) {
    .categories .left_sidebar {

        margin-right: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .categories .right_content .flex_2{
        display: none;

    }
    .categories .left_sidebar{
        max-height: none;
        margin: auto;
    }
    .categories .container3{
        flex-direction: column;
    }
    .categories .right_content .flex_4{
        margin: auto;
    }

}
@media only screen and (max-width: 600px) {
    .categories .right_content .flex_3 article{
        margin-top: 15px;

    }
    .categories .left_sidebar{
        margin-top: 5px;
    }
}
@media only screen and (max-width: 371px){
    .categories .left_sidebar{
        max-width: 253px;
        margin: auto;
    }
    .categories .left_sidebar img{
        min-width: 253px;
        margin-left: 0px;
    }

}
@media only screen and (max-width: 1200px){
    .find_more .two_banner{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 1192px){
    .find_more .two_banner .product_map1{
        min-width: 521px;
    }
    .find_more .two_banner .product_map2{
        min-width: 521px;
    }
    .find_more .two_banner{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 1066px){
    .find_more .two_banner{
        flex-direction: column;
        align-items: center;
    }
    .find_more .two_banner .product_map1{
        margin-bottom: 50px;
    }
    .find_more .two_banner .product_map2{
        margin-bottom: 15px;
    }
    .find_more .two_banner .product_map1 div{
        margin-right: 15px;
    }
    .find_more .two_banner .product_map2 div{
        margin-right: 15px;

    }
}
@media only screen and (max-width: 525px){
    .find_more .two_banner .product_map1{
        flex-direction: column;
        background: none;
        max-height: 419px;
        min-width: 292px;
    }
    .find_more .two_banner .product_map2{
        flex-direction: column;
        background: none;
        max-height: 459px;
        min-width: 292px;
        margin-bottom: 10px;
    }
    .find_more .two_banner .product_map1 img{
        position: inherit;
        max-width: 292px;
        margin-bottom: 0;
    }
    .find_more .two_banner .product_map2 img{
        position: inherit;
        max-width: 292px;
        margin-bottom: 0;
    }
    .find_more .two_banner .product_map1 div{
        align-items: center;
        margin-right: 0;
    }
    .find_more .two_banner .product_map2 div{
        align-items: center;
        margin-right: 0;
    }
    .find_more .two_banner .product_map1 div h2{
        text-align: center;
    }
    .find_more .two_banner .product_map2 div h2{
        text-align: center;
    }
    .find_more .two_banner .product_map1 div h4{
        text-align: center;
    }
    .find_more .two_banner .product_map2 div h4{
        text-align: center;
    }
    .find_more .two_banner .product_map1 div .but_ton:hover{

        border: none;
    }
        .find_more .two_banner .product_map2 div .but_ton:hover{

                border: none;
            }
    }

@media only screen and (max-width: 316px){
    .find_more .two_banner .product_map1{

        min-width: 270px;
    }
    .find_more .two_banner .product_map2{

        min-width: 270px;
    }
    .find_more .two_banner .product_map1 img{

        max-width: 270px;
    }
    .find_more .two_banner .product_map2 img{

        max-width: 270px;
    }
}