.container{
    max-width: 1200px;
    margin: auto;
    height: 63px;
}
header .container{
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}
header{
        padding-top: 31px;

}
header nav, header nav li, header .logo{
    display: inline-block;
}
header ul{
    list-style: none;
}
header nav li a{
    text-decoration: none;
}
header a{
    text-decoration: none;
}
header .logo{
    margin-right: 229px;
}
header .login{
    margin-left: 370px;


}
header nav li{
    margin-right:50px;
}
header nav li:last-of-type{
    margin-right:0;
}
header nav li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header .login{
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;


}
header .login a{
    margin-top: 30px;

}
header nav li:after{
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s;


}
header nav li a:hover:after{
    font-weight: 700;


}
header nav li:hover:after{
        background-color: #46a358;
}
header .login:before {
    content: url("../images/Logout.svg");


}
.banner .container2{
    max-width: 1200px;
    min-height: 450px;
    margin: auto;
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
}
.banner article{
    max-width: 557px;
    margin-right: 93px;
    display: inline-block;
}
.h4{

    margin-bottom: 5px;
    margin-left: 43px;


}
.h1{
    margin-bottom: 5px;
    margin-left: 43px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;

}
.h1 span{
    color: #46a358;

}
.p {
    margin-bottom: 44px;
    margin-left: 43px;
}
.banner article a{
    margin-bottom: 5px;
    margin-left: 43px;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    text-decoration: none;
}
