@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
    height: 63px;
}
header .container{
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}
header{
        padding-top: 31px;
        margin-bottom: 10px;

}
header nav, header nav li, header .logo{
    display: inline-block;
}
header ul{
    list-style: none;
}
header nav li a{
    text-decoration: none;
}
header nav li a:hover {
    font-weight: 700;
}
header a{
    text-decoration: none;
}
header .logo{
    margin-right: 229px;
}
header .login{
float: right;
    text-align: center;

}
header nav li{
    margin-right:50px;
    margin-top: 38px;
}
header nav li:last-of-type{
    margin-right:0;
}
header nav li a{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

header .login a{
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;

}
header nav li:after{
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s;


}
header nav li a:hover:after{
    font-weight: 700;


}
header nav li:hover:after{
        background-color: #46a358;
}
header .login:before {
    content: url("../images/Logout.svg");

}
.banner .container2{
    max-width: 1200px;
    min-height: 450px;
    margin: auto;
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
}
.banner article{
    max-width: 557px;
    margin-right: 93px;
    display: inline-block;
}
.container2 h4{
    padding-top: 68px;
    padding-left: 43px;


}
.container2 h1{
    padding-top: 5px;
    padding-left: 43px;
    font-family: 'cera_problack';
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;

}
.container2 h1:after{
    content: "Planet";
    color: #46a358;

}
.container2 p{
    margin-bottom: 44px;
    margin-left: 43px;
}
.container2 article a{

    padding-left: 43px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #46a358;
    border-radius: 6px;
    width: 140px;
    height: 40px;
}
