@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Cera Pro-Light';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Light.woff2') format('woff2'),
    url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.ttf') format('truetype'),
    url('../fonts/CeraPro-Light.svg#CeraPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'encode_sans_semi_expandedRg';
    src: url('../fonts/encodesanssemiexpanded-regular-webfont.eot');
    src: url('../fonts/encodesanssemiexpanded-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/encodesanssemiexpanded-regular-webfont.woff2') format('woff2'),
    url('../fonts/encodesanssemiexpanded-regular-webfont.woff') format('woff'),
    url('../fonts/encodesanssemiexpanded-regular-webfont.ttf') format('truetype'),
    url('../fonts/encodesanssemiexpanded-regular-webfont.svg#encode_sans_semi_expandedRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
    height: 63px;
}
header .container{
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}
header{
        padding-top: 31px;
        margin-bottom: 10px;

}
header nav, header nav li, header .logo{
    display: inline-block;
}

header ul{
    list-style: none;
}
header nav ul {
    display: flex;
    position: relative;

}
header nav ul .dropdown li{
    display: block;

}
header nav li a{
    text-decoration: none;
}
header nav li:hover a {
    font-weight: 700;
}
header a{
    text-decoration: none;
}
header .logo{
    margin-right: 229px;
    float: left;
}
header .login{
    align-items: center;
    display: flex;
    float: right;
    text-align: center;
    padding-top: 8px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 8px;
    margin-top: 0;
    border-radius: 6px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    font-family: 'cera_promedium';

}
header nav li{
    margin-right:50px;
    margin-top: 8px;
}
header nav li:last-of-type{
    margin-right:0;
}
header nav li a{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

header nav li:after{
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 32px;
    transition: 0.3s;


}
/*header nav li:hover:after{*/
/*    font-weight: 700;*/


/*}*/
header nav li:hover:after{
        background-color: #46a358;
}

header nav ul .dropdown{
    display: none;
    background: #edf6ee;
    position: absolute;
    top: 63px;
    left: 126px;
    width: 188px;
    height: 151px;
    opacity: 0;

}
header nav ul .dropdown{
    border-top: 10px solid white;
}

header nav ul .dropdown li{
    display: block;
    margin-right: 0;
    margin-top: 0;
    height: 35px;
    padding-top: 7px;
    padding-left: 14px;


}
header nav ul .dropdown li a{
    font-family: 'encode_sans_semi_expandedRg';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header nav ul .dropdown .li_four svg{
    position: absolute;
    right: 17px;
    bottom: 13px;
}
header nav .dropdown li:hover:after{
    background-color: transparent;

}
header nav li .drop{
    position: relative;
    margin-right:50px;
    margin-top: 8px;
}

header .login:before {
    content: url("../images/Logout.svg");
    margin-right: 4px;
}
header nav ul .dropdown2{
    display: none;
    background: #edf6ee;
    position: absolute;
    top: 0;
    left: 189px;
    width: 178px;
    height: 210px;
    opacity: 1;

}
header nav ul .dropdown2 li a{
    font-family: 'encode_sans_semi_expandedRg';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.banner .container2{
    max-width: 1200px;
    min-height: 450px;
    margin: auto;
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
}
header nav ul .drop:hover .dropdown{
    opacity: 1;
    display: block;
    transition: 3s;


}
header ul .drop:hover .dropdown2{
    opacity: 0;
}
header ul .li_four:hover .dropdown2{
    opacity: 1;
    display: block;

}
header ul .li_four:hover .dropdown2 a{
    font-family: 'encode_sans_semi_expandedRg';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
header ul .li_four:hover svg{
    rotate: 180deg;
    fill: white;
}
header ul .li_four:hover svg path{
    fill: white;
}
header ul .dropdown li:hover{
    background: #1a712a;
}
header ul .dropdown li:hover a{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
header ul .li_four:hover .dropdown2 li:hover a{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.banner .container2 article{
    max-width: 592px;
    margin-right: 93px;
    display: inline-block;
}
.container2 h4{
    padding-top: 68px;
    padding-left: 40px;
    font-family: 'cera_promedium';
}
.container2 h1{
    padding-top: 5px;
    padding-left: 40px;
    font-family: 'cera_problack';
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;

}
.container2 h1:after{
    content: "Planet";
    color: #46a358;

}
.container2 p{
    margin-bottom: 44px;
    margin-left: 40px;
    font-family: 'cera_proregular';
}
.container2 a{
    display: inline-block;
    margin-top: 44px;
    margin-bottom: 85px;
    margin-left: 40px;
    padding-left: 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #46a358;
    border-radius: 6px;
    padding-top: 11px;
    padding-right: 27px;
    padding-bottom: 9px;
    font-family: 'cera_probold';
}
.container2 .left_sidebar img{
    float: right;
}
.categories .container3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;

}
.categories .left_sidebar{
    max-width: 310px;
    background: #fbfbfb;
    margin-top: 71px;
    /*margin-bottom: 577px;*/
    height: 790px;
}
.categories .left_sidebar .h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-top: 12px;
    margin-left: 18px;
    font-family: 'cera_probold';
}
.categories .container3 .left_sidebar ul{

    list-style: none;
}
.categories .container3 .left_sidebar nav{
    width: 103px;
    height: 383px;
    margin-left: 18px;
    display: contents;
}
.categories .container3 .left_sidebar ul{
    margin-top: 7px;
    margin-left: 30px;
}
.categories .container3 .left_sidebar li{
    margin-top: 15px;
    text-decoration: none;
    line-height: 160%;
    font-family: 'Cera Pro-Light';
}

.categories .container3 li:last-of-type{
    margin-bottom: 0;
}
.categories .container3 .left_sidebar li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: #3d3d3d;


}
.container3 .left_sidebar img{
    float: left;
    margin-left: -29px;
    margin-top: 393px;


}
/*.categories .left_sidebar h1{*/
/*   margin-top: 12px;*/
/*    font-weight: 700;*/
/*    font-size: 18px;*/
/*    line-height: 89%;*/
/*    color: #3d3d3d;*/
/*}*/
.categories .container3 .left_sidebar li a:hover{

    color: #46a358;
}
.categories .container3 .left_sidebar li a:hover{

    font-weight: 700;
}
/*.categories .container3 .left_sidebar li a span{*/

/*    color: #46a358;*/
/*}*/
.categories .right_content .flex_2{
    display: flex;
    justify-content: space-between;
    width: 838px;
    height: 23px;
    margin-top: 73px;
}
.categories .right_content .flex_2 ul{
    display: flex;
    list-style: none;

}
.categories .right_content .flex_2 ul li{
    margin-right: 40px;
    margin-top: 0;
}

.categories .right_content .flex_2 ul li a{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_proregular';


}
/*.categories .right_content .flex_2 ul{*/
/*    font-size: 15px;*/
/*    line-height: 267%;*/
/*    font-weight: 400;*/
/*    color: #3d3d3d;*/

/*}*/

.categories .right_content .flex_2 ul li a:hover:after{
    background-color: #46a358;
    border: 1px;
    height: 3px;
    width: 100%;
    content: "";
    display: block;
    transition: 0.3s;
    margin-top: 7px;

}
.categories .right_content .flex_2 ul li a:hover{

    color: #46a358;
}
.categories .right_content .flex_2 ul li a:hover{
    font-weight: 700;
}
.categories .right_content article{
    max-width: 258px;
    margin-top: 31px;
    margin-left: 0;
    position: relative;

}
.categories .right_content .flex_3 article{
    border-top: solid 1px transparent;
}
/*або так*/
/*.categories .right_content .flex_3 article:after{*/
/*    width: 258px;*/
/*    height: 1px;*/
/*    !*background: #46a358;*!*/
/*    background: transparent;*/
/*    content: "";*/
/*    display: block;*/
/*    transition: 0.3s;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/
.categories .right_content .flex_3 article:hover{
    border-color: #46a358;
    /*background: #46a358;*/
}
.categories .right_content .flex_2 p{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.categories .right_content .flex_3{
    display: flex;
    justify-content: space-between;
    width: 838px;
    flex-wrap: wrap;

}

.categories .right_content .flex_3 article ul{
    min-width: 125px;
    height: 35px;
    position: absolute;
    right: 66px;
    bottom: 57px;
    /*display: flex;*/
    opacity: 0;
    list-style: none;
}
.categories .right_content .flex_3 article ul li{
    display: flex;
    justify-content: space-between;
    min-width: 125px;
}
.categories .right_content .flex_3 article:hover ul{
    opacity: 1;
}
.categories .right_content .flex_3 article ul li a{
    border-radius: 4px;
    width: 35px;
    height: 35px;
    background: #fff;
    padding-top: 8px;
    padding-right: 9px;
    padding-left: 6px;
}
.categories .right_content .flex_3 article li a:hover path{
    fill: #46A358;

}
.categories .right_content .flex_3 article div{
    width: 80px;
    height: 29px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    font-family: 'cera_promedium';
    padding-top: 7px;
    padding-right: 8px;
    padding-left: 9px;
    position: absolute;
    top: 14px;
    animation: off 1s infinite;
}
@keyframes off {
0%{
    left: 0;
}
    100%{
        right: 0;
    }
}

.categories .right_content .flex_3 article h4{
    display: flex;
    margin-left: 0;
    padding-top: 12px;

}
.categories .right_content .flex_3 article h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.categories .right_content .flex_3 article span{
    display: flex;
    margin-left: 0;
    margin-top: 6px;
}
.categories .right_content .flex_3 article span{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_probold';
}
.categories .right_content .flex_3 article .h4{
    padding-top: 12px;
}
.categories .right_content .flex_3 .article4{
    margin-top: 70px;
}
.categories .right_content .flex_3 .article5{
    margin-top: 70px;
}
.categories .right_content .flex_3 .article6{
    margin-top: 70px;
}
.categories .right_content .flex_3 .article7{
    margin-top: 70px;
}
.categories .right_content .flex_3 .article7 .h4Frame7{
    padding-top: 12px;
}
.categories .right_content .flex_3 .article8{
    margin-top: 70px;
}
.categories .right_content .flex_3 .article9{
    margin-top: 70px;
}
.categories .right_content .flex_3 .article9 .h4Frame9{
    padding-top: 12px;
}
.categories .right_content .flex_3 .Frame3_sale{
    width: 66px;
    height: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    position: absolute;
    left: 80px;
    top: 331px;
    font-family: 'cera_proregular';

}
.categories .right_content .flex_3 article .Frame3_sale:after{
    content: "";
    height: 1px;
    background-color: #cbcbcb;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 6px;

}
.categories .right_content .flex_4 ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 90px;

}
.categories .right_content .flex_4 .li1 a{
    text-decoration: none;
}
.categories .right_content .flex_4 .li1 a{
    padding-left: 12px;
}
.categories .right_content .flex_4 .li2 a{
    text-decoration: none;
}
.categories .right_content .flex_4 .li2 a{
    padding-left: 12px;
}
.categories .right_content .flex_4 .li3 a{
    text-decoration: none;
}
.categories .right_content .flex_4 .li3 a{
    padding-left: 12px;
}
.categories .right_content .flex_4 .li4 a{
    text-decoration: none;
}
.categories .right_content .flex_4 .li4 a{
    padding-left: 12px;
}
/*.categories .right_content .flex_4 li a{*/
/*    text-decoration: none;*/
/*    padding-left: 12px;*/


/*}*/
.categories .right_content .flex_4 .li5 a{
    text-decoration: none;

}
.categories .right_content .flex_4 .li1 a:first-of-type{
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    /*color: #fff;*/
}
.categories .right_content .flex_4 .li1:first-of-type:hover a{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_probold';
}
.categories .right_content .flex_4 .li2 a{
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.categories .right_content .flex_4 .li3 a{
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.categories .right_content .flex_4 .li4 a{
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.categories .right_content .flex_4 ul li{
    border-radius: 4px;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: 'Cera Pro-Light';

}
.categories .right_content .flex_4 ul li:hover{
    background: #46a358;

}
.categories .right_content .flex_4 ul li:hover a{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_probold';
}
.categories .right_content .flex_4 .li5{
    align-items: center;
    display: flex;
    padding-left: 9px;
}
.categories .right_content .flex_4 .li5 svg{
    margin-top: 6px;
}
.categories .right_content .flex_4 ul li:hover a svg path{
    stroke: #fff;
}
.find_more .two_banner{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
    min-height: 302px;
    margin-top: 96px;
    align-items: flex-end;
}
.find_more .two_banner .product_map1{
    min-width: 586px;
    height: 250px;
    background: #fbfbfb;
    justify-content: flex-end;
    display: flex;
    position: relative;

}
.find_more .two_banner .product_map1 img{
    position: absolute;
    margin-top: -44px;
    mix-blend-mode: multiply;
    margin-bottom: 10px;
    display: flex;
    left: 0;

}
.find_more .two_banner .product_map1 div{
    margin-right: 30px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 292px;
}
.find_more .two_banner .product_map1 div h2{
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-top: 37px;
    font-family: 'cera_problack';
    margin-bottom: 9px;

}
.find_more .two_banner .product_map1 div h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    font-family: 'cera_proregular';
    margin-bottom: 25px;
}
.find_more .two_banner .product_map1 div a{
    border-radius: 6px;
    /*width: 140px;*/
    /*height: 40px;*/
    background: #46a358;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    text-decoration: none;
    padding-right: 26px;
    padding-top: 10px;
    padding-left: 26px;
    padding-bottom: 9px;
    display: flex;
    font-family: 'cera_promedium';
    justify-content: center;

}
.find_more .two_banner .product_map1 div a:after{
    content: url("../images/ArrowRight.svg");
    padding-top: 2px;
    padding-left: 6px;
}
/*.find_more .two_banner{*/
/*    display: flex;*/
/*    max-width: 1200px;*/
/*    justify-content: space-between;*/
/*    margin: auto;*/
/*    min-height: 302px;*/
/*}*/
.find_more .two_banner .product_map2{
    height: 250px;
    background: #fbfbfb;
    justify-content: flex-end;
    display: flex;
    min-width: 586px;
    position: relative;

}
.find_more .two_banner .product_map2 img{
    position: absolute;
    margin-top: -44px;
    mix-blend-mode: multiply;
    margin-bottom: 10px;
    display: flex;
    left: 0;

}
.find_more .two_banner .product_map2 div{
    margin-right: 30px;
    text-align: end;
    display: flex;
    flex-direction: column;
    max-width: 292px;
    align-items: end;
}
.find_more .two_banner .product_map2 div h2{
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-top: 37px;
    font-family: 'cera_problack';
    margin-bottom: 9px;

}
.find_more .two_banner .product_map2 div h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    font-family: 'cera_proregular';
    margin-bottom: 25px;
}
.find_more .two_banner .product_map2 div a{
    border-radius: 6px;
    /*width: 140px;*/
    /*height: 40px;*/
    background: #46a358;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    text-decoration: none;
    padding-right: 26px;
    padding-top: 10px;
    padding-left: 29px;
    padding-bottom: 9px;
    display: flex;
    font-family: 'cera_promedium';

}
.find_more .two_banner .product_map2 div a:after{
    content: url("../images/ArrowRight.svg");
    padding-top: 2px;
    padding-left: 6px;
}
.blog .our_blog{
    display: flex;
    max-width: 1200px;
    margin: auto;
    min-height: 447px;
    flex-direction: column;

}
.blog .span_title{
    /*width: 1200px;*/
    /*height: 50px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
    margin-top: 138px;
}
.blog .span_title h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 15px;
}
.blog .span_title h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    font-family: 'cera_proregular';
    margin-bottom: 35px;

}
.blog .div_map{
    display: flex;
    justify-content: space-between;
}
.blog .div_map article{
    background: #fbfbfb;
    margin-bottom: 68px;
    max-width: 268px;

}
.blog .div_map article div{
    margin-left: 15px;
}
.blog .div_map article img{
    margin-bottom: 9px;
}

.blog .div_map article h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    /*margin-left: 15px;*/
    font-family: 'cera_promedium';
    margin-bottom: 9px;
}
.blog .div_map article h2{
    /*margin-left: 15px;*/
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 9px;
}
.blog .div_map article h4{
    /*margin-left: 15px;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
    margin-bottom: 9px;

}
.blog .div_map article a{
    /*margin-left: 15px;*/
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    font-family: 'cera_promedium';
    text-decoration: none;
    display: inline-flex;
}
.blog .div_map article a:hover{
    color: #46a358;

}

/*.blog .div_map article a:after{*/
/*    content: url("../images/ArrowRight3.svg");*/
/*    margin-left: 3px;*/
/*    margin-top: 2px;*/
/*}*/
/*.blog .div_map article .green_button:after{*/
/*    content: url("../images/ArrowRight3.svg");*/
/*    margin-left: 3px;*/
/*    margin-top: 2px;*/
/*}*/
.blog .div_map article a svg{
    margin-top: 2px;
    margin-left: 3px;
}
.blog .div_map article a:hover svg path{
    fill: #46A358;
}
footer section{
    margin-top: 32px;
}
footer .top_footer{
    width: 1200px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background: #fbfbfb;
    position: relative;
}
footer .top_footer .first_top{
    width: 204px;
    height: 202px;
    margin-top: 24px;
    margin-left: 25px;
    margin-right: 30px;

}
footer .top_footer article{
    width: 204px;
    height: 202px;
    margin-top: 24px;
    margin-right: 30px;

}
footer .border_top{
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
    width: 187px;
    margin-top: 31px;
    position: absolute;
    top: 92px;
    left: 166px;
}

footer .top_footer article h2{
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-bottom: 9px;
}
footer .top_footer article h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular';
}
footer .top_footer article svg{
    margin-bottom: 15px;
}
footer .top_footer form{
    width: 354px;
    height: 202px;
    margin-right: 25px;
}
footer .border_top2{
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
    width: 187px;
    margin-top: 31px;
    position: absolute;
    top: 92px;
    left: 432px;
}
footer .form_h2 h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    margin-top: 37px;
    margin-bottom: 25px;
}
footer .form_h2 h4{
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    font-family: 'cera_proregular';
}
footer .inp_btn{
    width: 354px;
    height: 40px;
    margin-bottom: 18px;


}
footer .inp_btn button{
    border-radius: 0 6px 6px 0;
    width: 85px;
    height: 40px;
    background: #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_probold';
}
footer .inp_btn input{
    width: 269px;
    height: 40px;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
}
footer .inp_btn input{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    font-family: 'cera_proregular';
    padding-left: 11px;
}
footer .middle_footer{
    width: 1200px;
    height: 88px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    margin: auto;
    display: flex;
    justify-content: space-between;


}
footer .middle_footer .middle_footer_svg{
    margin-top: 27px;
    margin-left: 23px;
    margin-right: 155px;
}

footer .first_p_middle_footer{
    width: 205px;
    height: 44px;

    margin-top: 27px;
    margin-right: 155px;
    display: flex;
    justify-content: space-between;

}
footer .first_p_middle_footer a{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
footer .first_p_middle_footer svg{
    margin-top: 9px;
    width: 20px;
    height: 20px;
    display: flex;

}
footer .middle_footer p a{
    text-decoration: none;
}
footer .first_p_middle_footer{
    width: 206px;
    height: 44px;
    display: flex;
}
footer .first_p_middle_footer .spn_first_p_middle_footer{
    width: 176px;
    height: 44px;
    display: flex;
}

footer .second_p_middle_footer{
    width: 195px;
    height: 22px;

    margin-top: 33px;
    margin-right: 155px;
    display: flex;
    justify-content: space-between;

}
footer .second_p_middle_footer a{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
footer .second_p_middle_footer svg{
    margin-top: 1px;
    width: 20px;
    height: 20px;
    display: flex;
}
footer .second_p_middle_footer .second_p_middle_footer{
    width: 165px;
    height: 22px;
    display: flex;
}
footer .third_p_middle_footer{
    width: 140px;
    height: 22px;

    margin-top: 33px;
    margin-right: 22px;
    display: flex;
    justify-content: space-between;

}
footer .third_p_middle_footer a{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
footer .third_p_middle_footer svg{
    margin-top: 1px;
    width: 20px;
    height: 20px;
    display: flex;
}
footer .third_p_middle_footer{
    width: 140px;
    height: 22px;
    display: flex;
}
footer .bottom_footer{
    width: 1200px;
    height: 236px;
    background: #fbfbfb;
    margin: auto;
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
}

footer .p_bottom_footer{
    width: 257px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    margin: auto;
}
footer .bottom_footer nav ul{
    list-style: none;

}
footer .social_bottom_footer ul{
    list-style: none;
    display: flex;
    margin-bottom: 33px;
    justify-content: space-between;
    max-width: 190px;
    max-height: 30px;
}
footer .bottom_footer nav h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 8px;
}
footer .social_bottom_footer h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 20px;
}
/*footer .bottom_footer nav a{*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 214%;*/
/*    color: #3d3d3d;*/
/*    font-family: 'cera_proregular';*/
/*}*/

footer .bottom_footer .first_nav_bottom_footer{
    margin-top: 33px;
    margin-right: 164px;
    margin-left: 25px;
}
footer .bottom_footer .first_nav_bottom_footer a{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
footer .bottom_footer .first_nav_bottom_footer a{
    text-decoration: none;
}
footer .bottom_footer .second_nav_bottom_footer{
    margin-top: 33px;
    margin-right: 129px;

}
footer .bottom_footer .second_nav_bottom_footer a{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    text-decoration: none;
}
footer .bottom_footer .third_nav_bottom_footer{
    margin-top: 33px;
    margin-right: 173px;
}
footer .bottom_footer .third_nav_bottom_footer a{
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    text-decoration: none;
}
footer .bottom_footer .social_bottom_footer{
    margin-top: 33px;
    margin-right: 155px;
    display: flex;
    flex-direction: column;
}
footer .bottom_footer .social_bottom_footer .h2_social{
    margin-bottom: 13px;
}
footer .bottom_footer .border_bottom{
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    margin-top: 26px;
    background: rgba(70, 163, 88, 0.2);
}





